<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Replace Person</title>
</head>
<body>
<header th:replace="fragments/header"></header>
<div th:replace="fragments/navbar"> </div>
<main>
    <form action="#" th:action="@{/replace-person}" th:object="${person}" method="post">
        <p>ID: <input type="text" th:field="*{id}" /></p>
        <p>Forename: <input type="text" th:field="*{forename}" /></p>
        <p>Surname: <input type="text" th:field="*{surname}" /></p>
        <p>Former Name(s): <input type="text" th:field="*{formerName}" /></p>
        <p>Country: <input type="text" th:field="*{country}" /></p>
        <p>Nationality: <input type="text" th:field="*{nationality}" /></p>
        <p>Date of Birth: <input type="date" th:field="*{dob}" /></p>
        <p>Occupation: <input type="text" th:field="*{occupation}" /></p>
        <p>House Num: <input type="text" th:field="*{address.houseNum}" /></p>
        <p>Street: <input type="text" th:field="*{address.street}" /></p>
        <p>County: <input type="text" th:field="*{address.county}" /></p>
        <p>Postcode: <input type="text" th:field="*{address.postcode}" /></p>
        <p>Home Address Country: <input type="text" th:field="*{address.country}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>